<template>
  <div id="alarms">

  </div>
</template>

<script>
export default {
  name: 'alarms',
  data () {
    return {
        //
    
    }
  },
  methods: {
    //
  }
}
</script>

<style>

</style>
