<template>
  <div id="component">
  
  </div>
</template>

<script>
export default {
  name: 'component',
  data () {
    return {
        //
    }  
    }
  },
  methods: {
    //
  }
}
</script>

<style>

</style>
