<template>
  <div id="sinassDashboard" class="panel panel-default" v-show="!loading">
		<div class="panel-heading" v-if="$store.getters.isAdmin">
				<h3 class="panel-title">{{actualDashboard.name}}  <span class="label label-warning">Prototype</span></h3>
        <button type="button" class="btn btn-default btn-xs" v-on:click="setSave()">
          	<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Sauvegarder
        </button>
		</div>
		<div class="panel-body Sinass-panel-body-raw Sinass-dashboard">
      <iframe v-if="showDashboard"src="/freeboard-master" width="100%" height="100%" frameborder="0"></iframe>
    </div>
  </div>
</template>

<script>
export default {
    name: 'sinassDashboard',
    props: ['id'],
    data () {
        return {
          actualDashboard:{},
					showDashboard:false
        }

    },
		watch: {
    	'$route' (to, from) {
				this.getDashboard(this.id)
    	}
		},
  	methods: {
        getDashboard: function(id) {
						this.showDashboard=false
            this.$store.commit('setLoader',true)
            this.$http.get(process.env.API_URL + 'dashboard/'+ id).then(response => {
                this.actualDashboard = response.body
                localStorage.setItem('dashboard', this.actualDashboard.data)
								this.showDashboard=true
                this.$store.commit('setLoader',false)
                this.$store.commit('setAlertFooter','')
            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },

    setSave: function() {
        this.actualDashboard.data = localStorage.getItem('dashboard')
        this.$http.put(process.env.API_URL + 'dashboard/'+ this.id, this.actualDashboard).then(response => {
        	this.$store.commit('setLoader',false)
          this.$store.commit('setAlertFooter','')
        }, response => {
          this.$store.commit('setAlertFooter','ConnectionError')
        });
    },
  },
  beforeRouteEnter(route, redirect, next) {
        next(vm => {
            vm.getDashboard(vm.$props.id)
        });
  },
}
</script>

<style>
#sinassDashboard {
  height:100%;
  width:100%;
}
</style>
