<template>
    <div class ="panel panel-default"id ="equipments">
        <div class = "panel-heading">
            <h3 class = "panel-title"> Equipements </h3>
        </div>
        <div class = "panel-body Sinass-panel-body-raw">
            <div class = "form">
                <label for ="basic-url" > </label>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" v-if="$store.getters.isAdminOrGroupAdmin" data-toggle="modal" data-target=".modal-set-plc"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nouvel équipement</button>
                </div >
                </br>
                </br>
            </div>

            <div class="modal fade modal-set-plc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span > </button>
                            <h4 class="modal-title" id="myModalLabel">Nouvel équipement</h4 >
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nom Equipement</label >
                                    <div class = "col-sm-6" >
                                        <input class = "form-control" v-model = "form.name">
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="$store.getters.isAdmin">
                                    <label class="col-sm-2 control-label">Groupe</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" v-model="form.idGroup">
                                            <option v-bind:value="null" selected="{{form.idGroup == null}}">Aucun groupe</option>
                                            <option v-for="group in groups" v-bind:value="group.id" selected="{{group.id == form.idGroup}}">{{group.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOneSet">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneSet" aria-expanded="false" aria-controls="collapseOneSet">
                                                    Open-VPN
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOneSet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOneSet">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Adresse</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control"v-model = "form.ip" placeholder = "xxx.xxx.xxx.xxx">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        
                                                    </div >
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Masque sous réseau</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control"v-model = "form.networkMask" placeholder = "xxx.xxx.xxx.xxx">
                                                    </div>
                                                    <div class="col-sm-4"></div >
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class = "col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" v-model="form.setConfVpn"> Générer fichiers de configuration
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwoSet">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoSet" aria-expanded="false" aria-controls="collapseTwoSet">
                                                    Serveur Web
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwoSet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoSet">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">URL Serveur web de paramètrage</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control"v-model = "form.webSettings" placeholder = "xxx.xxx.xxx.xxx/xxx.html">
                                                    </div>
                                                    <div class="col-sm-4"></div >
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">URL Serveur web IHM</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control" v-model = "form.webIhm" placeholder = "xxx.xxx.xxx.xxx/xxx.html" >
                                                    </div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTreeSet">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTreeSet" aria-expanded="false" aria-controls="collapseTreeSet">
                                                    Localisation géographique
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTreeSet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTreeSet">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Latitude</label>
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control" v-model = "form.latitude" placeholder = "" >
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Longitude</label>
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control" v-model = "form.longitude" placeholder = "" >
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class = "col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" v-model="form.showOnMap"> Afficher sur la carte
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFourSet">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourSet" aria-expanded="false" aria-controls="collapseFourSet">
                                                    Informations
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFourSet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourSet">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Description</label>
                                                    <div class = "col-sm-6">
                                                        <textarea class = "form-control" v-model = "form.description" rows = "3"> </textarea>
                                                    </div >
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <div class = "col-sm-2"> </div>
                                    <div class="col-sm-6">
                                        <button v-on:click="formValidSetEquipment()" class="btn btn-primary " v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-set-plc" type="button">Ajouter</button >
                                        <button class = "btn btn-default"data-dismiss = "modal" v-if="$store.getters.isAdminOrGroupAdmin" v-on:click="eraseForm()"> Annuler </button>
                                    </div >
                                    <div class = "col-sm-4" ></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-update-plc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
             <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span > </button>
                            <h4 class="modal-title" id="myModalLabel">Modifier équipement</h4 >
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class = "col-sm-2">
                                        <a class="btn btn-primary"  v-if="form.webSettings!=null" v-bind:href="form.webSettings" role="button" target="_blank">Serveur Web de Paramètrage</a>
                                    </div>
                                    <div class = "col-sm-6"></div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nom Equipement</label >
                                    <div class = "col-sm-6" >
                                        <input class = "form-control" v-model = "form.name">
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="$store.getters.isAdmin">
                                    <label class="col-sm-2 control-label">Groupe</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" v-model="form.idGroup">
                                            <option v-bind:value="null" selected="{{form.idGroup == null}}">Aucun groupe</option>
                                            <option v-for="group in groups" v-bind:value="group.id" selected="{{group.id == form.idGroup}}">{{group.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="panel-group" id="accordionUpdate" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOneUpdate">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordionUpdate" href="#collapseOneUpdate" aria-expanded="false" aria-controls="collapseOneUpdate">
                                                    Open-VPN
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOneUpdate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOneUpdate">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Adresse</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control"v-model = "form.ip" placeholder = "xxx.xxx.xxx.xxx">
                                                    </div>
                                                    <div class="col-sm-4">
                                                         
                                                    </div >
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Masque sous réseau</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control"v-model = "form.networkMask" placeholder = "xxx.xxx.xxx.xxx">
                                                    </div>
                                                    <div class="col-sm-4"></div >
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Fichier</label >
                                                    <div class = "col-sm-6">
                                                        <button v-if="form.commonName==null" v-on:click="setConfFileCert(form.id)" v-if="$store.getters.isAdminOrGroupAdmin" class="btn btn-primary " type="button"> Générer clés et configuration </button >
                                                        <button v-if="form.commonName!=null" v-on:click="getConfFile(form.commonName)" class="btn btn-default " type="button"> Télécharger {{form.commonName}}.ovpn</button >
                                                        <button v-if="form.commonName!=null" v-on:click="revokeCert(form.id)" v-if="$store.getters.isAdminOrGroupAdmin" class="btn btn-danger " type="button"> Révoquer </button >
                                                    </div>
                                                    <div class="col-sm-4"></div >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwoUpdate">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordionUpdate" href="#collapseTwoUpdate" aria-expanded="false" aria-controls="collapseTwoUpdate">
                                                    Serveur Web
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwoUpdate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoUpdate">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">URL Serveur web de paramètrage</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control"v-model = "form.webSettings" placeholder = "xxx.xxx.xxx.xxx/xxx.html">
                                                    </div>
                                                    <div class="col-sm-4">
                                                    </div >
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">URL Serveur web IHM</label >
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control" v-model = "form.webIhm" placeholder = "xxx.xxx.xxx.xxx/xxx.html" >
                                                    </div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTreeUpdate">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordionUpdate" href="#collapseTreeUpdate" aria-expanded="false" aria-controls="collapseTreeUpdate">
                                                    Localisation géographique
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTreeUpdate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTreeUpdate">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Latitude</label>
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control" v-model = "form.latitude" placeholder = "" >
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Longitude</label>
                                                    <div class = "col-sm-6">
                                                        <input class = "form-control" v-model = "form.longitude" placeholder = "" >
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class = "col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" v-model="form.showOnMap"> Afficher sur la carte
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFourUpdate">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordionUpdate" href="#collapseFourUpdate" aria-expanded="false" aria-controls="collapseFourUpdate">
                                                    Informations
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFourUpdate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourUpdate">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Description</label>
                                                    <div class = "col-sm-6">
                                                        <textarea class = "form-control" v-model = "form.description" rows = "3"> </textarea>
                                                    </div >
                                                    <div class = "col-sm-4" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <div class = "col-sm-2"> </div>
                                    <div class="col-sm-6">
                                        <button v-on:click="formValidUpdateEquipment()" class="btn btn-primary " v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-update-plc" type="button">Enregistrer</button >
                                        <button class = "btn btn-default"data-dismiss = "modal" v-if="$store.getters.isAdminOrGroupAdmin" v-on:click="eraseForm()"> Annuler </button>
                                    </div >
                                    <div class = "col-sm-4" ></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-delete-plc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="eraseForm()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmer suppression</h4>
                        </div>
                        <div class="modal-body">
                            <p>Etes vous sur de vouloir supprimer l'équipement selectionné?</p>
                            </br>
                            <p>Equipement: <B>{{ selected_equipment.name }}</B></p>
                            <form class = "form-horizontal">
                                <div class = "form-group">
                                    <div class = "col-sm-9" ></div>
                                    <div class="col-sm-3">
                                        <button v-on:click="deleteEquipment()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
                                        <button class = "btn btn-default" data-dismiss = "modal" v-on: click = "eraseForm()">Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                <table class="table header-table">
                    <thead>
                        <tr>
                            <th class="col-sm-3">Id</th >
                            <th class="col-sm-3"> Nom de l'équipement</th>
                            <th class="col-sm-3">IP de l'équipement</th>
                            <th class="col-sm-3">Actions</th >
                        </tr>
                    </thead>
                </table>
                <table class="table table-striped scrollable-table">
                    <tbody>
                        <tr v-for = "equipment in equipments">
                            <td class="col-sm-3"> {{equipment.id}}</td>
                            <td class="col-sm-3">{{equipment.name}}</td>
                            <td class="col-sm-3">{{equipment.ip}}</td>
                            <td class="col-sm-3">
                                <div class="btn-group pull-right last-column-table" role="group" aria-label="..." >
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".modal-update-plc" v-on:click="formUpdateEquipment(equipment.id)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Paramètres</button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-delete-plc" v-on:click="deleteEquipment(equipment.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Supprimer</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>

</template>

<script>
export default {

    name: 'equipments',
    data() {
        return {
            loading: false,
            selectedEquipmentId: '',
            form: {
                name: '',
                description: '',
                ip: '',
                networkMask:'',
                webIhm: '',
                webSettings: '',
                latitude: '',
                longitude: '',
                showOnMap:false,
                setConfVpn:false,
                caDir: '',
                certDir: '',
                keyDir: '',
                idGroup:'',
            },
            groups:'',
            equipments: '',
            selected_equipment: '',
            formError:false,
            downloadLink:''
        }
    },

    methods: {
        formValidSetEquipment: function() {
            console.log(this.form)
            this.formError=false
            let regIp = new RegExp('^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$')
            let regMask = new RegExp('^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$')
            let regLat = new RegExp('^(\\\+|-)?(?:90(?:(?:.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:.[0-9]{1,16})?))$')
            let regLong = new RegExp('^(\\\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,16})?))$')
            let regUrlCa = new RegExp('/$')


            if (regUrlCa.test(this.form.caDir)) {
                this.form.caDir = this.form.caDir.substring(0,this.form.caDir.length-1)
            }
            if (regUrlCa.test(this.form.certDir)) {
                this.form.certDir = this.form.certDir.substring(0,this.form.certDir.length-1)
            }
            if (regUrlCa.test(this.form.keyDir)) {
                this.form.keyDir = this.form.keyDir.substring(0,this.form.keyDir.length-1)
            }
            let formValid = false;
            // Replace the comma by point
            if (this.form.latitude) {
                this.form.latitude=this.form.latitude.replace(',','.')
            }
            if (this.form.longitude) {
                this.form.longitude=this.form.longitude.replace(',','.')
            }
            var re = new RegExp("^http://|https://");
            if (!re.test(this.form.webSettings) && this.form.webSettings != '' && this.form.webSettings != null) {
                this.form.webSettings = 'http://' + this.form.webSettings;
            }
            if (!re.test(this.form.webIhm) && this.form.webIhm != '' && this.form.webIhm != null) {
                this.form.webIhm = 'http://' + this.form.webIhm;
            }
            let ipAddValid = (regIp.test(this.form.ip) || this.form.ip==='' || this.form.ip===null)
            let ipMaskValid = (regMask.test(this.form.networkMask) || this.form.networkMask==='' || this.form.networkMask===null)
            let longitudeValid = (regLat.test(this.form.longitude)|| this.form.longitude==='' || this.form.longitude===null)
            let latitudeValid = (regLat.test(this.form.latitude)|| this.form.latitude==='' || this.form.latitude===null)

            formValid = (this.form.name!='' && ipAddValid && ipMaskValid)
            formValid = (formValid && latitudeValid && latitudeValid)
            if (formValid===true) {
                this.formError=false
                jQuery('.modal-set-plc').modal('hide')
                this.setEquipment()
            } else {
                this.formError=true
            }

        },
        formValidUpdateEquipment: function(id) {
            console.log(this.form)
            this.formError=false
            let regIp = new RegExp('^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$')
            let regMask = new RegExp('^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$')
            let regLat = new RegExp('^(\\\+|-)?(?:90(?:(?:.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:.[0-9]{1,16})?))$')
            let regLong = new RegExp('^(\\\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,16})?))$')
            let regUrlCa = new RegExp('/$')


            if (regUrlCa.test(this.form.caDir)) {
                this.form.caDir = this.form.caDir.substring(0,this.form.caDir.length-1)
            }
            if (regUrlCa.test(this.form.certDir)) {
                this.form.certDir = this.form.certDir.substring(0,this.form.certDir.length-1)
            }
            if (regUrlCa.test(this.form.keyDir)) {
                this.form.keyDir = this.form.keyDir.substring(0,this.form.keyDir.length-1)
            }
            let formValid = false;
            // Replace the comma by point
            if (this.form.latitude) {
                this.form.latitude=this.form.latitude.replace(',','.')
            }
            if (this.form.longitude) {
                this.form.longitude=this.form.longitude.replace(',','.')
            }
            var re = new RegExp("^http://|https://");
            if (!re.test(this.form.webSettings) && this.form.webSettings != '' && this.form.webSettings != null) {
                this.form.webSettings = 'http://' + this.form.webSettings;
            }
            if (!re.test(this.form.webIhm) && this.form.webIhm != '' && this.form.webIhm != null) {
                this.form.webIhm = 'http://' + this.form.webIhm;
            }

            let ipAddValid = (regIp.test(this.form.ip) || this.form.ip==='' || this.form.ip===null)
            let ipMaskValid = (regMask.test(this.form.networkMask) || this.form.networkMask==='' || this.form.networkMask===null)
            let longitudeValid = (regLat.test(this.form.longitude)|| this.form.longitude==='' || this.form.longitude===null)
            let latitudeValid = (regLat.test(this.form.latitude)|| this.form.latitude==='' || this.form.latitude===null)

            formValid = (this.form.name!='' && ipAddValid && ipMaskValid)
            formValid = (formValid && latitudeValid && latitudeValid)

            if (formValid===true) {
                this.formError=false
                jQuery('.modal-update-plc').modal('hide')
                this.updateEquipment(this.form.id)
            } else {
                this.formError=true
            }

        },
        getGroup: function() {
            this.$http.get(process.env.API_URL + 'group').then(response => {
                this.groups = response.body;
                this.loading = false
                //this.$store.commit('setAlertFooter', '')
                return true;
            }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
        setEquipment: function() {
            this.$http.post(process.env.API_URL + 'equipment', this.form).then(response => {
                this.eraseForm();
                //this.$store.commit('setAlertFooter','')
                if (response.body = true) {
                    this.getEquipment();
                }
            }, response => {
                if (response.body = 'Forbidden (nb max Equipments)') {
                    this.$store.commit('setAlertFooter',"Nombre maximum d'équipements dépassé")
                } else {
                  this.$store.commit('setAlertFooter','ConnectionError')
                }
                this.eraseForm();
            });
        },
        eraseForm: function() {
            this.form = {
                id: '',
                name: '',
                description: '',
                ip: '',
                networkMask:'',
                webIhm: '',
                webSettings: '',
                latitude: '',
                longitude: '',
                idGroup:'',
                showOnMap:false
            }
            this.formError=false
            this.getEquipment()
        },
        formUpdateEquipment: function(id) {
            this.form = appUtils.findObjInArray(this.equipments, id);
            this.downloadLink = process.env.API_URL + 'equipment/download/simpleConfFile/' + this.form.name
        },
        updateEquipment: function(id) {
            delete this.form.id
            delete this.form.created_at
            delete this.form.updated_at
            this.$http.put(process.env.API_URL + 'equipment/' + id, this.form).then(response => {
                this.eraseForm()
                //this.$store.commit('setAlertFooter','')
                this.getEquipment()

            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
                this.eraseForm();
            });

        },
        setConfFileCert: function(id) {
            this.$http.post(process.env.API_URL + 'equipment/create/ConfFileCert/' + id).then(response => {
                //this.$store.commit('setAlertFooter','')
                this.form.commonName = response.body.commonName
            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },
        getConfFile: function(commonName) {
            this.$http.post(process.env.API_URL + 'equipment/download/simpleConfFile/' + commonName).then(response => {
                let file = {}
                file.content = response.body
                file.name = this.form.commonName + ".ovpn"
                this.$store.dispatch('downloadFile',file)

                //this.$store.commit('setAlertFooter','')

            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },
        revokeCert: function(id) {
            this.$http.post(process.env.API_URL + 'equipment/revoke/' + id).then(response => {
                this.form.commonName = response.body.commonName
                //this.$store.commit('setAlertFooter','')

            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },
        getEquipment: function() {
            this.$store.commit('setLoader',true)
            this.$http.get(process.env.API_URL + 'equipment').then(response => {
                this.equipments = response.body;
                if (this.$store.getters.isAdmin) {
                  this.getGroup()
                }
                this.$store.commit('setLoader',false)
                //this.$store.commit('setAlertFooter','')
            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },
        deleteEquipment: function(id) {
            if (!id) {
                this.$http.delete(process.env.API_URL + 'equipment/' + this.selected_equipment.id).then(response => {
                    //this.$store.commit('setAlertFooter','')
                    this.getEquipment()
                }, response => {
                    this.$store.commit('setAlertFooter','ConnectionError')
                });
            } else {
                this.selected_equipment = appUtils.findObjInArray(this.equipments, id);
            }
        }
    },
    computed: {
      
    },
    beforeRouteEnter(route, redirect, next) {
        next(vm => {
            vm.getEquipment();
        });
    }

}


</script>

<style>




</style>
