<template>
  <div id="equipment" class="panel panel-default">
				<iframe v-bind:src="equipment.webIhm" height="100%" width="100%" frameBorder="0"></iframe>
	</div>	
</template>

<script>
export default {
  	name: 'page',
		props: ['id'],
  	data () {
    	return {
			equipment:'',
  		}
	},
	watch: {
    '$route' (to, from) {
			this.getEquipment(this.id)
    }
	},
  	methods: {
  		getEquipment: function(id) {
				this.$store.commit('setLoader',true)
  			this.$http.get(process.env.API_URL + 'equipment/' + id ).then(response => {
  				this.equipment = response.body;
					this.$store.commit('setLoader',false)
					this.$store.commit('setAlertFooter','')
  			}, response => {
				this.$store.commit('setAlertFooter','ConnectionError')
  			});
  		},	
	},
	beforeRouteEnter (route, redirect, next) {
			next(vm=>{
				vm.getEquipment(vm.$props.id);
			});
	} 
}
</script>

<style>
</style>
