<template>
  <div id="grafana">
    <iframe title="grafana" v-bind:src="grafanaUrl" width="100%" height="100%">
    </iframe>
  </div>
</template>

<script>
export default {
  name: 'grafana',
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
      grafanaUrl: function (){
        return process.env.GRAFANA_SERVER_URL
      }
    },
}
</script>

<style>
#grafana{
    height: 100%;
    width:100%;
}
</style>
