<template> 
	<div id="login">
		<div class="login-form">
			<form v-on:submit.prevent="onSubmit" v-if="loginForm==true">
				
				<img class="logo" src="../assets/images/Logo-Sinass.png">
				<div class="alert alert-danger" role="alert" v-show="loginOrPasswdError==true">
  				Identifiant ou mot de passe incorrect.
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Identifiant" v-model="form.username" required="required">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Mot de passe" v-model="form.password" required="required">
				</div>
				<div class="form-group">
					<button type="submit" v-on:click="login()" class="btn btn-primary btn-block">Se connecter</button>
				</div>
				<div class="clearfix">
					<a href="#" class="pull-right" v-on:click="passwordLost()">Mot de passe oublié ?</a>
				</div>        
			</form>

			<form v-on:submit.prevent="onSubmit" v-if="loginForm==false">
				
				<img class="logo" src="../assets/images/Logo-Sinass.png">
				<div class="alert alert-danger" role="alert" v-show="loginUnknown==true">
  				Utilisateur Inconnu !!!
				</div>
				<div class="alert alert-info" role="alert" v-show="initPasswordSuccess==true">
  				Un nouveau mot de passe vient de vous être envoyé par email.
				</div>
				<p>
        	Pour réinitialiser votre mot de passe, veuillez saisir votre adresse email.
        </p>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Identifiant" v-model="lostUser.email" required="required">
				</div>
				<div class="form-group">
					<button type="submit" v-on:click="initPassword()" class="btn btn-primary btn-block">Envoyer</button>
				</div> 
				<div class="clearfix">
					<a href="#" class="pull-right" v-on:click="loginPage()">Se connecter</a>
				</div> 
			</form>
		</div>  
	</div>
</template>

<script>
export default {
    name: 'login',
    data() {
        return {
            //passwordError:false,
						loginOrPasswdError:false,
            loginForm:true,
						initPasswordSuccess:false,
            form: {
                grant_type:'password',
                username: '',
                password: '',
                client_id: '',
                client_secret: '',
            },
            lostUser:{
                email:'',
            },
            loginUnknown:'',
            auth:{
                connected:false,
                login:'',
                access_token:'',
                refresh_token:''
            }
        }
    },

    methods: {
        login(){
            this.form.grant_type = 'password'
            this.form.client_secret = process.env.CLIENT_SECRET
            this.form.client_id = process.env.CLIENT_ID
            this.$http.post(process.env.AUTH_URL + 'oauth/token', this.form)
                .then(response => {
                    let payload ={}
                    payload.isAuthenticated = true
                    payload.username = this.form.username
                    payload.token = response.body.access_token
                    payload.expiration = response.body.expires_in + Date.now()
                    this.$store.dispatch('setToken',payload)
                    this.$router.push('map')  
                    this.loginOrPasswdError = false;
                    
                }, response => {
                	this.loginOrPasswdError = true;
            		})
        },
        passwordLost(){
            this.loginForm = false;
        },
				loginPage(){
						this.initPasswordSuccess = false;
						this.loginOrPasswdError = false;
						this.loginUnknown = false;
            this.loginForm = true;
        },
        initPassword(){
						this.loginUnknown = false;
            this.$http.post(process.env.API_URL + 'passwordLost', this.lostUser)
            .then(response => {
								this.initPasswordSuccess = true;
            }, response => {
                this.loginUnknown = true;
            })
        }

    }
}
</script>

<style>
	
#login {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color:#1D3557;
}
.logo{
	max-height:90px;
	margin-bottom:15px;
}
.login-form {
	text-align:center;
	width: 340px;
  margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
		background: #f7f7f7;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		padding: 30px;
}
.login-form h2 {
		margin: 0 0 15px;
}
.login-form .form-control {
		min-height: 38px;
		border-radius: 2px;
}
.login-form .btn {        
		font-size: 15px;
		font-weight: bold;
		min-height: 38px;
		border-radius: 2px;
}
</style>
