<template>
    <div id="map">

    </div>
</template>
<script>
export default {
    name: 'map',
    data () {
        return {
            interval:null,
            markers: [],
            infoBulle: [],
            equipments: '',
            loading:true,
            map:null,
            firstLoad:true
        }   
    },
    methods: {
        autoRefresh: function(){
            this.getEquipment()
            this.interval=setInterval(this.getEquipment, 15000);
        },
        stopAutoRefresh: function(){
            clearInterval(this.interval)
        },
        getMarker: function(){
            let index = 0
            let map = this.map
            let markers = this.markers
            let infoBulle = this.infoBulle
            var zoneMarqueurs = new google.maps.LatLngBounds();            
            _.forEach(this.equipments, function(value) {
                index=index+1
                console.log(value)
                if (value.showOnMap){
                    if (markers[value.id]==null){
                        markers[value.id] = new google.maps.Marker({
                            position: {lat: parseFloat(value.latitude), lng: parseFloat(value.longitude)},
                            map: map,
                            title: value.name
                        })
                        let contenuInfoBulle =	'<h4>'+ value.name + '</h4>' +	
                            '<strong>Adresse IP:</strong> '+ value.ip + '</br>'
                                                    
                        if (value.connected) {
                            contenuInfoBulle = contenuInfoBulle + '<span class="label label-success">Open-VPN Connecté</span>' + '</br></br>'
                            //markers[value.id].setIcon("src/assets/images/map/cloud-checked-icon.png")
                            markers[value.id].setLabel('C')
                        } else {
                            contenuInfoBulle = contenuInfoBulle + '<span class="label label-default">Open-VPN Déconnecté</span>' + '</br></br>'
                            //markers[value.id].setIcon("src/assets/images/map/cloud-remove-icon.png")
                            markers[value.id].setLabel('D')
                        }
                        if (value.webIhm != null) {
                            contenuInfoBulle = contenuInfoBulle + '<a class="btn btn-default" href="'+ value.webIhm +'" role="button" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Serveur Web</a>' + '</br>'
                        }
                            
                        infoBulle[value.id] = new google.maps.InfoWindow({
                            content: contenuInfoBulle
                        })

                        google.maps.event.addListener(markers[value.id], 'click', function() {
                            infoBulle[value.id].open(map, markers[value.id]);
                        });
                        zoneMarqueurs.extend( markers[value.id].getPosition() );
                        markers[value.id].setAnimation(google.maps.Animation.DROP);
                    } else {
                        markers[value.id].setPosition({lat: parseFloat(value.latitude), lng: parseFloat(value.longitude)})
                        markers[value.id].setMap(map)
                        markers[value.id].setTitle(value.name)

                        let contenuInfoBulle =	'<h4>'+ value.name + '</h4>' +	
                            '<strong>Adresse IP:</strong> '+ value.ip + '</br>'
                                                    
                        if (value.connected) {
                            contenuInfoBulle = contenuInfoBulle + '<span class="label label-success">Open-VPN Connecté</span>' + '</br></br>'
                            //markers[value.id].setIcon("src/assets/images/map/cloud-checked-icon.png")
                            markers[value.id].setLabel('C')
                        } else {
                            contenuInfoBulle = contenuInfoBulle + '<span class="label label-default">Open-VPN Déconnecté</span>' + '</br></br>'
                            //markers[value.id].setIcon("src/assets/images/map/cloud-remove-icon.png")
                            markers[value.id].setLabel('D')
                        }
                        if (value.webIhm != null) {
                            contenuInfoBulle = contenuInfoBulle + '<a class="btn btn-default" href="'+ value.webIhm +'" role="button" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Serveur Web</a>' + '</br>'
                        }
                        
                        infoBulle[value.id].setContent(contenuInfoBulle)

                        zoneMarqueurs.extend( markers[value.id].getPosition() );
                    }
                }
            })
            if (this.firstLoad===true){
                this.map.fitBounds( zoneMarqueurs )
                if (index<2) {
                    this.map.setZoom(8)
                }
                this.firstLoad=false
            }
            
        },
        getEquipment: function() { 
            this.$http.get(process.env.API_URL + 'equipment/state').then(response => {
                this.equipments = response.body
                this.loadMap()
                this.getMarker()
                this.$store.commit('setAlertFooter','')

                //jQuery('#main').css('height', (jQuery(window).height() - 120) + 'px')
            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },
        loadMap: function() {
            if(this.map===null){
                this.map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 40.7127837, lng: -74.00594130000002},
                    zoom: 8
                })
            }
        }
    },
    beforeRouteEnter(route, redirect, next) {
        next(vm => {
            vm.autoRefresh()
        })
    },
    beforeRouteLeave (to, from, next) {
        this.stopAutoRefresh()
        next(vm => {
        // access to component instance via `vm`
        })
    }   
}
</script>

<style>
   #map { height: 100%; }
</style>
