<template>
  <div id="menuConf" class="panel panel-default" v-show="!loading">
		<div class="panel-heading">
				<h3 class="panel-title">Menu & Dashboards</h3>
		</div>
		<div class="panel-body Sinass-panel-body-raw">
      <div class = "form">
        <label for ="basic-url" > </label>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" v-if="$store.getters.isAdminOrGroupAdmin" data-toggle="modal" data-target=".modal-set-dashboard"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nouvel élément de menu</button>
        </div >
        </br>
        </br>
      </div>
      <div class="modal fade modal-set-dashboard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
             <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span > </button>
                            <h4 class="modal-title" id="myModalLabel">Nouvel Element</h4 >
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nom élement</label >
                                    <div class = "col-sm-6" >
                                        <input class = "form-control" v-model = "form.name">
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="$store.getters.isAdmin">
                                    <label class="col-sm-2 control-label">Groupe</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" v-model="form.idGroup">
                                            <option v-bind:value="null" selected="{{form.idGroup == null}}">Aucun groupe</option>
                                            <option v-for="group in groups" v-bind:value="group.id" selected="{{group.id == form.idGroup}}">{{group.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="$store.getters.isAdminOrGroupAdmin">
                                    <label class="col-sm-2 control-label">Type d'élément</label>
                                    <div class="col-sm-6">
                                        <div class="radio" v-if="$store.getters.isAdmin">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="dashboard" v-model="form.type">
                                            Dashboard    
																						<span class="label label-warning">Prototype</span>
                                          </label>
                                        </div>
                                        <div class="radio">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="equipment" v-model="form.type" checked>
                                            Serveur Web d'équipement
                                          </label>
                                        </div>
                                        <div class="radio">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="url" v-model="form.type">
                                            URL (lien externe)
                                          </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="form.type=='equipment'">
                                    <label class="col-sm-2 control-label">Equipement</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" v-model="form.idEquipment">
                                            <option v-bind:value="null" selected="{{form.idGroup == null}}"></option>
                                            <option v-for="equipment in equipments" v-bind:value="equipment.id" selected="{{equipment.id == form.idEquipment}}">{{equipment.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="form.type=='url'">
                                    <label class="col-sm-2 control-label">Url</label >
                                    <div class = "col-sm-6" >
                                        <input class = "form-control" v-model = "form.url">
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="form.type!='dashboard'">
                                    <label class="col-sm-2 control-label">Affichage</label>
                                    <div class = "col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" v-model="form.iframe"> Ouvrir dans un nouvel onglet
                                            </label>
                                        </div>
                                    </div>
                                    <div class = "col-sm-4" ></div>
                                </div>
                                <div class = "form-group">
                                    <div class = "col-sm-2"> </div>
                                    <div class="col-sm-6">
                                        <button v-on:click="formValidSetDashboard()" class="btn btn-primary " v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-set-plc" type="button">Ajouter</button >
                                        <button class = "btn btn-default"data-dismiss = "modal" v-if="$store.getters.isAdminOrGroupAdmin" v-on:click="eraseForm()"> Annuler </button>
                                    </div >
                                    <div class = "col-sm-4" ></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      <div class="modal fade modal-update-dashboard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
             <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span > </button>
                            <h4 class="modal-title" id="myModalLabel">Modifier Element</h4 >
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nom élement</label >
                                    <div class = "col-sm-6" >
                                        <input class = "form-control" v-model = "form.name">
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="$store.getters.isAdmin">
                                    <label class="col-sm-2 control-label">Groupe</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" v-model="form.idGroup">
                                            <option v-bind:value="null" selected="{{form.idGroup == null}}">Aucun groupe</option>
                                            <option v-for="group in groups" v-bind:value="group.id" selected="{{group.id == form.idGroup}}">{{group.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="$store.getters.isAdminOrGroupAdmin">
                                    <label class="col-sm-2 control-label">Type d'élément</label>
                                    <div class="col-sm-6">
                                        <div class="radio" v-if="$store.getters.isAdmin">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="dashboard" v-model="form.type">
                                            Dashboard  
																						<span class="label label-warning">Prototype</span>
                                          </label>
                                        </div>
                                        <div class="radio">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="equipment" v-model="form.type" checked>
                                            Serveur Web d'équipement
                                          </label>
                                        </div>
                                        <div class="radio">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="url" v-model="form.type">
                                            URL (lien externe)
                                          </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="form.type=='equipment'">
                                    <label class="col-sm-2 control-label">Equipement</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" v-model="form.idEquipment">
                                            <option v-bind:value="null" selected="{{form.idGroup == null}}"></option>
                                            <option v-for="equipment in equipments" v-bind:value="equipment.id" selected="{{equipment.id == form.idEquipment}}">{{equipment.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="form.type=='url'">
                                    <label class="col-sm-2 control-label">Url</label >
                                    <div class = "col-sm-6" >
                                        <input class = "form-control" v-model = "form.url">
                                    </div>
                                    <div class="col-sm-4"></div >
                                </div>
                                <div class="form-group" v-if="form.type!='dashboard'">
                                    <label class="col-sm-2 control-label">Affichage</label>
                                    <div class = "col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" v-model="form.iframe"> Ouvrir dans un nouvel onglet
                                            </label>
                                        </div>
                                    </div>
                                    <div class = "col-sm-4" ></div>
                                </div>
                                <div class = "form-group">
                                    <div class = "col-sm-2"> </div>
                                    <div class="col-sm-6">
                                        <button v-on:click="formValidUpdateDashboard()" class="btn btn-primary " v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-update-plc" type="button">Enregistrer</button >
                                        <button class = "btn btn-default"data-dismiss = "modal" v-if="$store.getters.isAdminOrGroupAdmin" v-on:click="eraseForm()"> Annuler </button>
                                    </div >
                                    <div class = "col-sm-4" ></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="modal fade modal-delete-dashboard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="eraseForm()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmer suppression</h4>
                        </div>
                        <div class="modal-body">
                            <p>Etes vous sur de vouloir supprimer l'élément selectionné?</p>
                            </br>
											<p>Elément: <B>{{ selectedDashboard.name }}</B></p>
                            <form class = "form-horizontal">
                                <div class = "form-group">
                                    <div class = "col-sm-9" ></div>
                                    <div class="col-sm-3">
                                        <button v-on:click="deleteDashboard()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
                                        <button class = "btn btn-default" data-dismiss = "modal" v-on: click = "eraseForm()">Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<table class="table header-table">
           <thead>
            <tr>
              <th class="col-sm-1">Id</th >
              <th class="col-sm-3">Nom</th>
              <th class="col-sm-1">Type</th>
              <th class="col-sm-1">Groupe utilisateurs</th>
              <th class="col-sm-2">Actions</th >
            </tr>
          </thead>
          </table>
            <table class="table scrollable-table">
              <tbody>
                <tr v-for = "dashboard in dashboards">
                  <td class="col-sm-1">{{dashboard.id}}</td>
                  <td class="col-sm-3">{{dashboard.name}}</td>
                  <td class="col-sm-1" v-if="dashboard.type=='dashboard'"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Dashboard  <span class="label label-warning">Prototype</span></td>
                  <td class="col-sm-1" v-if="dashboard.type=='equipment'"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Equipement</td>
                  <td class="col-sm-1" v-if="dashboard.type=='url' && dashboard.iframe==1"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> URL (externe)</td>
									<td class="col-sm-1" v-if="dashboard.type=='url' && dashboard.iframe==0"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> URL (intégrée)</td>
                  <td class="col-sm-1">{{groupName(dashboard.idGroup)}}</td>
                  <td class="col-sm-2">
                    <div class="btn-group pull-right last-column-table" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".modal-update-dashboard" v-on:click="formUpdateDashboard(dashboard.id)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Paramètres</button>
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-delete-dashboard" v-on:click="deleteDashboard(dashboard.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Supprimer</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>				
		</div>
	</div>
  
</template>

<script>
  export default {
    name: 'menuConf',
    data() {
      return {
        loading: false,
        dashboards: null,
				selectedDashboard:'',
        formError: false,
        equipments: '',
        groups: '',
        form: {
          id: '',
          name: '',
          type: 'equipment',
          idGroup: '',
          url: '',
          iframe: false,
        },
      }

    },
    methods: {
      getDashboards: function() {
        this.$store.commit('setLoader', true)
        this.$http.get(process.env.API_URL + 'dashboard/').then(response => {
          this.dashboards = response.body
          console.log(this.dashboards);
					if (this.$store.getters.isAdmin) {
          	this.getGroup()
          }
          this.getGroup()
          this.getEquipment()
          //this.$store.commit('setLoader', false)
          this.$store.commit('setAlertFooter', '')
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        });
      },
      getGroup: function() {
				this.$store.commit('setLoader', true)
        this.$http.get(process.env.API_URL + 'group').then(response => {
          this.groups = response.body;
          this.loading = false
					this.$store.commit('setLoader', false)
          this.$store.commit('setAlertFooter', '')
          return true;
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        });
      },
      getEquipment: function() {
				this.$store.commit('setLoader', true)
        this.$http.get(process.env.API_URL + 'equipment').then(response => {
          this.equipments = response.body;
					this.$store.commit('setLoader', false)
          this.$store.commit('setAlertFooter', '')
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        })
      },
      formUpdateDashboard(id) {
				let tempForm
				tempForm=appUtils.findObjInArray(this.dashboards, id);
				if (tempForm.iframe==1){
					tempForm.iframe=true
				} else {
					tempForm.iframe=false
				}
        this.form = tempForm
      },
      formValidUpdateDashboard() {
				console.log(this.form.iframe)
				let formValid
        formValid = (this.form.name != '' && this.form.name != null)
        formValid = (formValid)

        if (formValid === true) {
          this.formError = false
          jQuery('.modal-update-dashboard').modal('hide')
          this.updateDashboard(this.form.id)
        } else {
          this.formError = true
        }
      },
      updateDashboard(id) {
        this.$http.put(process.env.API_URL + 'dashboard/' + id, this.form).then(response => {
          this.$store.commit('setLoader', false)
          this.$store.commit('setAlertFooter', '')
          this.eraseForm()
          this.getDashboards()
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        });
      },
      eraseForm() {
        this.form = {
          id: '',
          name: '',
          type: 'equipment',
          url: '',
          idGroup: '',
          iframe: false,
        }
        this.formError = false
        this.getEquipment()
      },
      groupName(id) {
        let group = {}
        group = appUtils.findObjInArray(this.groups, id)
        
        if(group === undefined) {
          return 'nc'
        } else {
          return group.name  
        }
        
      },
			storeDashboard(form) {
				this.$http.post(process.env.API_URL + 'dashboard', this.form).then(response => {
          this.$store.commit('setLoader', false)
          this.$store.commit('setAlertFooter', '')
          this.eraseForm()
          this.getDashboards()
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        });
			},
			formValidSetDashboard() {
				let formValid
				formValid = (this.form.name != '' && this.form.name != null)
				formValid = (formValid)

				if (formValid === true) {
					this.formError = false
					jQuery('.modal-set-dashboard').modal('hide')
					this.storeDashboard(this.form.id)
				} else {
					this.formError = true
				}
			},
			deleteDashboard(id) {
				if (!id) {
					this.$http.delete(process.env.API_URL + 'dashboard/' + this.selectedDashboard.id).then(response => {
							this.$store.commit('setAlertFooter','')
							this.getDashboards()
					}, response => {
							this.$store.commit('setAlertFooter','ConnectionError')
					});
				} else {
					this.selectedDashboard = appUtils.findObjInArray(this.dashboards, id);
				}
			},
    },

    beforeRouteEnter(route, redirect, next) {
      next(vm => {
        vm.getDashboards();
      });
    }
  }
</script>

<style>
</style>