<template>
  <div id="moveDashboards">
  </div>
</template>

<script>
export default {
    name: 'moveDashboards',
    props: ['id'],
    data () {
        return {
        }

    },
  methods: {
        
  },
  beforeRouteEnter(route, redirect, next) {
        next(vm => {
						vm.$router.push('/dashboards/'+ vm.id)
        });
  },
}
</script>

<style>
</style>
