<template>
  <div id="nodeRed">
    <iframe title="nodeRed" v-bind:src="nodeRedUrl" width="100%" height="100%">
    </iframe>
  </div>
</template>

<script>
export default {
  name: 'nodeRed',
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
      nodeRedUrl: function (){
        return process.env.NODERED_SERVER_URL
      }
  },
}
</script>

<style>
#nodeRed{
    height: 100%;
    width:100%;
}
</style>
