<template>
  <div id="equipment" class="panel panel-default">
				<iframe v-bind:src="url.url" height="100%" width="100%" frameBorder="0"></iframe>
	</div>	
</template>

<script>
export default {
  	name: 'page',
		props: ['id'],
  	data () {
    	return {
			url:'',
  		}
	},
	watch: {
    '$route' (to, from) {
			this.getUrl(this.id)
    }
	},
  	methods: {
  		getUrl: function(id) {
        this.$store.commit('setLoader', true)
        this.$http.get(process.env.API_URL + 'dashboard/'+ id).then(response => {
          console.log(response.body)
          this.url = response.body
          this.$store.commit('setLoader', false)
          this.$store.commit('setAlertFooter', '')
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        });
      },
	},
	beforeRouteEnter (route, redirect, next) {
			next(vm=>{
				vm.getUrl(vm.$props.id);
			});
	} 
}
</script>

<style>
</style>
