.loadparent{
	display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
	}
.loader {
/*  border: 16px solid #f3f3f3;
	  border-top: 16px solid #000000;
  	border-radius: 50%;
	  width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
		margin-left: auto;
  	margin-right: auto;
		vertical-align: middle; */
	text-align:center;
} 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Page */
html {
    height: 100%;
}
body {
    height: 100%;
}
#app {
	background-color:#F1FAEE;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
		flex-direction: column;
    justify-content: space-between;
}
/****** Panels ******/
.panel {
	border-radius: 0px;
	height: 100%;
  margin-bottom: 0%;
	display:flex;
	flex-direction:column;
}
.panel > .panel-heading {
	border-radius: 0px;
  background-image: none;
  background-color: #A8DADC;
  color: #1D3557;
	height:40px;
	display:flex;
	justify-content:space-between;
	padding-top:5px;
	padding-bottom:5px;
}
.panel > .panel-heading > .panel-title {
	margin-top:5px;
	margin-bottom:5px;
}
.panel > .panel-body {
    background-image: none;
    background-color: #F1FAEE;
    color: #457B9D;
		/*height: 95% ;*/
		flex:1;
    display: flex;
    /*flex-flow: column;*/
}
.panel > .Sinass-panel-body-column {
		display:flex;
		flex-direction:raw;
	}
.panel > .Sinass-panel-body-raw {
		display:flex;
		flex-flow:column;
	}
.panel > .Sinass-panel-body-column .Sinass-menu-left {
		padding-right:5px;
		border-right-width:1px;
		border-right-color:#1D3557;
		border-right-style:solid;
	}
.panel > .Sinass-panel-body-column .Sinass-view-right {
		padding-left:5px;
	}
.panel > .Sinass-dashboard {
	padding: 0px;
}
/****** Menu navbar ******/
.navbar {
	margin-bottom: 0px;
}
.navbar {
	background-color:#1D3557;
	border-color: #1D3557;
	border-radius: 0px;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #F1FAEE;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #A8DADC;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #F1FAEE;
    background-color: #457B9D;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #F1FAEE;
    background-color: #457B9D;
}
/*#navBar .navBar__link{
	color: #F1FAEE;
}
.dropdown a {
	color:black;
}*/
/* Application Core */
#main{
    flex:1;
}
/* Footer */
#footerBar{
	background-color:#1D3557;
	height: 30px;
}
/* Tableaux */
.header-table{
 background-color: #1D3557;
 color: white;
}
.scrollable-table{
   flex:1;
   display: block;
   overflow-y: scroll;
   margin-bottom: 0%;
}

.scrollable-table tbody {
   display: table;
   width : 100%;
}
.scrollable-table tr td:last-child div {
   padding-right: 5px;
}

.scrollable-table tr td:last-child button:last-child  {
   margin-left: 5px;
}
