<template>
  <div class="panel panel-default" id="account">
    <div class="panel-heading">
		<h3 class="panel-title">Compte</h3>
    </div>
    <div class="panel-body Sinass-panel-body-raw">
        <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
        <div class="alert alert-success" role="alert" v-show="formSuccess">Modifications éffectuées</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Identifiant</label>
                    <div class="col-sm-6">
                        <input class="form-control" v-model="form.login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nom</label>
                    <div class="col-sm-6">
                        <input class="form-control" v-model="form.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Prénom</label>
                    <div class="col-sm-6">
                        <input class="form-control" v-model="form.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                        <input class="form-control" v-model="form.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mot de passe</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" v-model="form.password1">
                    </div>
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" v-if="form.password2==form.password1"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" v-if="form.password2!=form.password1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirmer le mot de passe</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" v-model="form.password2">
                    </div>
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" v-if="form.password2==form.password1"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" v-if="form.password2!=form.password1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <button  class="btn btn-primary" data-target=".modal-set-user" type="button" v-on:click="formValidUpdateUser()">Modifier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'account',
    data () {
        return {
            loading: false,
		    form: {
			    login: '',
			    email: '',
			    firstName: '',
			    lastName: '',
			    password1: '',
			    password2: '',
			    password: '',
			    email: '',
			    id: ''
		    },
            groups:'',
		    users: '',
		    formError:false,
            formSuccess:false
        }
    },
    methods: {
        getUser: function() {
			this.loading = true
			this.$http.get(process.env.API_URL +'account').then(response => {
                this.form.id = response.body.id;
				this.form.email = response.body.email;
                this.form.firstName = response.body.firstName;
                this.form.lastName = response.body.lastName;
                this.form.login = response.body.login;
				//this.loading = false
				this.$store.commit('setAlertFooter','')
			}, response => {
				this.$store.commit('setAlertFooter','ConnectionError')
			});
		},
        formValidUpdateUser: function() {
		    let regEmail = new RegExp('^[0-9a-z._-]+@{1}[0-9a-z.-]{2,}[.]{1}[a-z]{2,5}$','i');
			let formValid = false;
			formValid = (this.form.login!='' && regEmail.test(this.form.email) && this.form.firstName!='' && this.form.lastName!='');
			formValid = (formValid	&& this.form.password1===this.form.password2);
			if(formValid===true) {
                this.formError=false
                if (this.form.password1!=''){
                    this.form.password=this.form.password1
                } else {
                    delete this.form.password
                }
                this.updateUser()
			} else {
                this.formError=true
            }
		},
        updateUser: function() {
            this.$http.put(process.env.API_URL +'account', this.form).then(response => {
				this.$store.commit('setAlertFooter','')
                this.formSuccess=true
				if (response.body = true) {
					this.getUser();
				}
			}, response => {
				this.$store.commit('setAlertFooter','ConnectionError')
			});
		},

    },
    beforeRouteEnter(route, redirect, next) {
		next(vm => {
			vm.getUser();
		});
	}
}
</script>

<style>

</style>
