<template>
  <div class="panel-body Sinass-panel-body-raw" id="usersGroups">
    <div class="form">
        <label for="basic-url"></label>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal-set-group"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" v-on:click="formSetGroup()"></span> Nouveau groupe</button>
            </br>
            </br>
        </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 tab loadparent">
        <div class="loader" v-show="loading"></div>
        
					<table class="table header-table">
            <thead>
                <tr>
                    <th class="col-md-1">Id</th>
                    <th class="col-md-3">Nom</th>
										<th class="col-md-2">Max Utilisateurs</th>
										<th class="col-md-2">Max Equipments</th>
										<th class="col-md-2">Utilsateurs Connectés</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            </thead>
					</table>
					<table class="table scrollable-table table-striped">
            <tbody>
                <tr v-for="group in groups">
                    <td class="col-md-1">{{group.id}}</td>
                    <td class="col-md-3">{{group.name}}</td>
										<td class="col-md-2">{{group.nbUsers}}</td>
										<td class="col-md-2">{{group.nbEquipments}}</td>
										<td class="col-md-2">{{group.nbActualSimultConnections}}/{{group.nbSimultConnections}}</td>
                    <td class="col-md-2">
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".modal-update-group" v-on:click="formUpdateGroup(group)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Paramètres</button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".modal-delete-group" v-on:click="deleteGroup(group.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer</button>
                        </div>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div class="modal fade modal-set-group" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modification groupe</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
                    <form class="form-horizontal">
												<div class="form-group">
                            <label class="col-sm-3 control-label">Nom du groupe</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.name">
                            </div>
                        </div>
												<div class="form-group">
                            <label class="col-sm-3 control-label">Max Utilsateurs Connectés</label>
                            <div class="col-sm-1">
                                <input class="form-control" v-model="form.nbSimultConnections">
                            </div>
                        </div>
												<div class="form-group">
                            <label class="col-sm-3 control-label">Max Utilisateurs</label>
                            <div class="col-sm-1">
                                <input class="form-control" v-model="form.nbUsers">
                            </div>
                        </div>
												<div class="form-group">
                            <label class="col-sm-3 control-label">Max Equipments</label>
                            <div class="col-sm-1">
                                <input class="form-control" v-model="form.nbEquipments">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                <button  class="btn btn-primary" data-target=".modal-set-group" type="button" v-on:click="formValidSetGroup()">Ajouter</button>
                                <button class="btn btn-default" data-dismiss="modal" v-on:click="eraseForm()">Annuler</button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-update-group" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modification groupe</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom du groupe</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.name">
                            </div>
                        </div>
												<div class="form-group">
                            <label class="col-sm-3 control-label">Max Utilsateurs Connectés</label>
                            <div class="col-sm-1">
                                <input class="form-control" v-model="form.nbSimultConnections">
                            </div>
                        </div>
												<div class="form-group">
                            <label class="col-sm-3 control-label">Max Utilisateurs</label>
                            <div class="col-sm-1">
                                <input class="form-control" v-model="form.nbUsers">
                            </div>
                        </div>
												<div class="form-group">
                            <label class="col-sm-3 control-label">Max Equipments</label>
                            <div class="col-sm-1">
                                <input class="form-control" v-model="form.nbEquipments">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                <button  class="btn btn-primary" data-target=".modal-set-group" type="button" v-on:click="formValidUpdateGroup()">Ajouter</button>
                                <button class="btn btn-default" data-dismiss="modal" v-on:click="eraseForm()">Annuler</button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-delete-group" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="eraseForm()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmer suppression</h4>
                </div>
                <div class="modal-body">
                    <div v-show="users==''">
                    <p>Etes vous sur de vouloir supprimer l'utilisateur <B>{{ form.name }}<B>?</p>
                    </div>
                    <div class="alert alert-warning" role="alert" v-show="users!=''">
                    <p>Impossible de supprimer le group {{form.name}} car un ou plusieurs utilisateurs y sont attachés !</p>
                    </br>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Détails
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                         <span v-for="user in users"><span class="label label-warning">{{user.login}}</span><span>&nbsp</span></span>
                        </div>
                    </div>
                    </div>
                    <form class = "form-horizontal">
                        <div class = "form-group">
                            <div class = "col-sm-9" ></div>
                            <div class="col-sm-3" v-if="users==''">
                                <button v-on:click="deleteGroup()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
                                <button class = "btn btn-default" data-dismiss = "modal" v-on: click = "eraseForm()">Annuler</button>
                            </div>
                            <div class="col-sm-1" v-if="users!=''"></div>
                            <div class="col-sm-1" v-if="users!=''">
                                <button class = "btn btn-default" data-dismiss = "modal" v-on: click = "eraseForm()">Fermer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'usersGroups',
    data () {
        return { 
            loading: true,
            users:'',
            groups:'',
            formError:false,
            form: {
                name:'',
								nbUsers:'',
								nbEquipments:'',
								nbSimultConnections:'',
                id:''
            }
        }
    },
  methods: {
    getUserFromGroup: function(idGroup) {
        this.loading = true
        this.$http.get(process.env.API_URL +'user/fromGroup/'+ idGroup).then(response => {
            this.users = response.body;
            this.loading = false
            this.$store.commit('setAlertFooter','')
            return true;
        }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
        });
    },
    getGroup: function() {
        this.loading = true
        this.$http.get(process.env.API_URL +'group').then(response => {
            this.groups = response.body;
            this.loading = false
            this.$store.commit('setAlertFooter','')
            return true;
        }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
        });
    },
    formValidSetGroup: function() {
        let formValid = false;
				let regNbUsers = new RegExp('[0-9]', 'i')
				let regNbEquipments = new RegExp('[0-9]', 'i')
				let regNbSimultConnections = new RegExp('[0-9]', 'i')
        formValid = (this.form.name!='' && regNbUsers.test(this.form.nbUsers) && regNbEquipments.test(this.form.nbEquipments) && regNbSimultConnections.test(this.form.nbSimultConnections))
        if (formValid===true) {
            this.formError=false
            jQuery('.modal-set-group').modal('hide')
            this.setGroup()
        } else {
            this.formError=true
        }
    },
    setGroup: function() {
        this.$http.post(process.env.API_URL +'group', this.form).then(response => {
                this.eraseForm();
                this.$store.commit('setAlertFooter','')
                if (response.body = true) {
                        this.getGroup();
                }
        }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
        });
    },
    formValidUpdateGroup: function() {
        let formValid = false;
				let regNbUsers = new RegExp('[0-9]', 'i')
				let regNbEquipments = new RegExp('[0-9]', 'i')
				let regNbSimultConnections = new RegExp('[0-9]', 'i')
        formValid = (this.form.name!='' && regNbUsers.test(this.form.nbUsers) && regNbEquipments.test(this.form.nbEquipments) && regNbSimultConnections.test(this.form.nbSimultConnections))
        if (formValid===true) {
            this.formError=false
            jQuery('.modal-update-group').modal('hide')
            this.updateGroup()
        } else {
            this.formError=true
        }
    },
    updateGroup: function(id) {
        this.$http.put(process.env.API_URL +'group/' + this.form.id, this.form).then(response => {
                this.eraseForm();
                this.$store.commit('setAlertFooter','')
                if (response.body = true) {
                        this.getGroup();
                }
        }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
        });
    },
    formUpdateGroup: function(group) {
        this.eraseForm()
        //console.log(group.id)
        this.form.id = group.id
        this.form.name = group.name
				this.form.nbUsers = group.nbUsers
				this.form.nbEquipments = group.nbEquipments
				this.form.nbSimultConnections = group.nbSimultConnections
    },
    eraseForm: function() {
        this.form.id = ''
        this.form.name = ''
				this.form.nbUsers = ''
				this.form.nbEquipments = ''
				this.form.nbSimultConnections = ''
    },
    deleteGroup: function(id) {
        if (!id) {
            this.$http.delete(process.env.API_URL + 'group/' + this.form.id).then(response => {
            this.$store.commit('setAlertFooter','')
            this.eraseForm();
            this.getGroup()
        }, response => {
            this.$store.commit('setAlertFooter','ConnectionError')
        });
        } else {
        
            this.form = appUtils.findObjInArray(this.groups, id);
            this.getUserFromGroup(id)
        }
    },
  },
  beforeRouteEnter(route, redirect, next) {
		next(vm => {
			vm.getGroup();
		});
	}
}
</script>

<style>

</style>