<template>
	<div class="panel panel-default" id="users">
		<div class="panel-heading">
			<h3 class="panel-title">Utilisateurs</h3>
		</div>
		<div class="panel-body Sinass-panel-body-raw">
			<ul class="nav nav-tabs">
				<li role="presentation">
					<router-link to="/usersUsers">Utilisateurs</router-link>
				</li>
				<li role="presentation" v-if="$store.getters.isAdmin">
					<router-link to="/usersGroups">Groupes</router-link>
				</li>
			</ul>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
  
export default {
    name: 'users',
        data () {
            return {
			
            }
	},
        beforeRouteEnter(route, redirect, next) {
            next(vm => {
                vm.$parent.$router.push('usersUsers')
            });
        }
  
}
</script>

<style>
#users{
	height: 100%;
  margin-bottom: 0%;
}

</style>
