<style>



</style>

<template>

<div class="panel-body Sinass-panel-body-raw" id="usersUsers">
    <div class="modal fade modal-set-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouvel utilisateur</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Identifiant</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.login">
                            </div>
                        </div>

                        <div class="form-group" v-if="$store.getters.isAdmin">
                            <label class="col-sm-3 control-label">Groupe</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="form.idGroup">
                                    <option v-bind:value="null" selected="{{form.idGroup == null}}">Aucun groupe</option>
                                    <option v-for="group in groups" v-bind:value="group.id" selected="{{group.id == form.idGroup}}">{{group.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-if="$store.getters.isAdminOrGroupAdmin">
                            <label class="col-sm-3 control-label">Niveau d'accès</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="form.accessLevel">
                                    <option v-bind:value="5" selected="{{form.accessLevel == 5}}">Utilisateur (Niveau 5)</option>
                                    <option v-bind:value="15" selected="{{form.accessLevel == 15}}">Administrateur de groupe (Niveau 15)</option>
                                    <option v-bind:value="20" v-if="$store.getters.isAdmin" selected="{{form.accessLevel == 20}}">Administrateur (Niveau 20)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.lastName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Prénom</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mot de passe</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" v-model="form.password1">
                            </div>
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" v-if="form.password2 === form.password1 && form.password1 !=null && form.password1 !=''"></span>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" v-if="form.password2 != form.password1 && form.password1 !=null && form.password1 !=''"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirmer le mot de passe</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" v-model="form.password2">
                            </div>
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" v-if="form.password2 === form.password1 && form.password2 !=null && form.password2 !=''"></span>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" v-if="form.password2 != form.password1 && form.password2 !=null && form.password2 !=''"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary" data-target=".modal-set-user" type="button" v-on:click="formValidSetUser()">Ajouter</button>
                                <button class="btn btn-default" data-dismiss="modal" v-on:click="eraseForm()">Annuler</button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-update-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" v-on:click="eraseForm()">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modification utilisateur</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
                    <form class="form-horizontal" id="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Identifiant</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.login">
                            </div>
                        </div>

                        <div class="form-group" v-if="$store.getters.isAdmin">
                            <label class="col-sm-3 control-label">Groupe</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="form.idGroup">
                                    <option v-for="group in groups" v-bind:value="group.id">{{group.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-if="$store.getters.isAdminOrGroupAdmin">
                            <label class="col-sm-3 control-label">Niveau d'accès</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="form.accessLevel">
                                    <option v-bind:value="5" selected="{{form.accessLevel == 5}}">Utilisateur (Niveau 5)</option>
                                    <option v-bind:value="15" selected="{{form.accessLevel == 15}}">Administrateur de groupe (Niveau 15)</option>
                                    <option v-bind:value="20" v-if="$store.getters.isAdmin" selected="{{form.accessLevel == 20}}">Administrateur (Niveau 20)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.lastName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Prénom</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" v-model="form.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mot de passe</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" v-model="form.password1">
                            </div>
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" v-if="form.password2 === form.password1 && form.password1 !=null && form.password1 !=''"></span>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" v-if="form.password2 != form.password1 && form.password1 !=null && form.password1 !=''"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirmer le mot de passe</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" v-model="form.password2">
                            </div>
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" v-if="form.password2 === form.password1 && form.password2 !=null && form.password2 !=''"></span>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" v-if="form.password2 != form.password1 && form.password2 !=null && form.password2 !=''"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1"></div>
                            <h4 class="col-sm-6">Accès Open VPN</h4>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group" v-for="userVpn in userVpns">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-5 control-label">{{userVpn.commonName}}.ovpn</label>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-sm" type="button" v-on:click="getConfFile(userVpn.commonName)"> Télécharger </button>
                                <button class="btn btn-danger btn-sm" v-if="$store.getters.isAdminOrGroupAdmin" type="button" v-on:click="revoke(userVpn)"> Révoquer </button>
                            </div>
                        </div>
                        <div class="form-group" v-if="$store.getters.isAdminOrGroupAdmin">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <input class="form-control" v-model="formUserVpn.name">
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-sm" type="button" v-on:click="setUserVpn(form.id)"> Nouveau client </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary" v-if="$store.getters.isAdminOrGroupAdmin" data-target=".modal-set-user" type="button" v-on:click="formValidUpdateUser()">Enregistrer</button>
                                <button class="btn btn-default" v-if="$store.getters.isAdminOrGroupAdmin" data-dismiss="modal" v-on:click="eraseForm()">Annuler</button>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="eraseForm()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmer suppression</h4>
                </div>
                <div class="modal-body">
                    <p>Etes vous sur de vouloir supprimer l'utilisateur selectionné?</p>
                    </br>
                    <p>Utilisateur: <B>{{ form.login }}</B></p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <button v-on:click="deleteUser()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
                                <button class="btn btn-default" data-dismiss="modal" v-on: click="eraseForm()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="form">
        <label for="basic-url"></label>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" v-if="$store.getters.isAdminOrGroupAdmin" data-toggle="modal" data-target=".modal-set-user"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" v-on:click="formSetUser()"></span> Nouvel utilisateur</button>
        </div>
        </br>
        </br>
    </div>
    <div class="col-xs-12 col-xs-offset-0 tab loadparent">
        <div class="loader" v-show="loading"></div>
        <table class="table header-table">
            <thead>
                <tr>
                    <th class="col-md-1">Id</th>
                    <th class="col-md-1">Nom</th>
                    <th class="col-md-1">Prenom</th>
                    <th class="col-md-1">Mail</th>
                    <th class="col-md-1">Connexions</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            </thead>
        </table>
        <table class="table table-striped scrollable-table">
            <tbody>
                <tr v-for="user in users">
                    <td class="col-md-1">{{user.id}}</td>
                    <td class="col-md-1">{{user.lastName}}</td>
                    <td class="col-md-1">{{user.firstName}}</td>
                    <td class="col-md-1">{{user.email}}</td>
                    <td class="col-md-1">{{user.nbConnections}}</td>
                    <td class="col-md-2">
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".modal-update-user" v-on:click="formUpdateUser(user)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Paramètres</button>
                            <button type="button" class="btn btn-danger btn-sm" v-if="$store.getters.isAdminOrGroupAdmin" data-toggle="modal" data-target=".modal-delete-user" v-on:click="deleteUser(user.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</template>

<script>

export default {
    name: 'usersUsers',
    data() {
        return {
            loading: false,
            form: {
                login: '',
                email: '',
                firstName: '',
                lastName: '',
                password1: '',
                password2: '',
                password: '',
                email: '',
                id: '',
                right: '',
                accessLevel: '',
                idGroup: ''
            },
            groups: '',
            users: '',
            formError: false,
            userVpns: null,
            formUserVpn: {
                name: ''
            }
        }
    },
    methods: {
        formValidSetUser: function() {
            let regEmail = new RegExp('^[0-9a-z._-]+@{1}[0-9a-z.-]{2,}[.]{1}[a-z]{2,5}$', 'i');
            let formValid = false;

            formValid = (this.form.login != '' && regEmail.test(this.form.email) && this.form.firstName != '' && this.form.lastName != '');
            formValid = (formValid && this.form.password1 != '' && this.form.password2 != '' && this.form.password1 === this.form.password2);
            formValid = (formValid && this.form.accessLevel!=null);
            if (formValid === true) {
                this.formError = false
                jQuery('.modal-set-user').modal('hide')
                this.form.password = this.form.password1
                this.setUser()
            } else {
                this.formError = true
            }

        },
        formValidUpdateUser: function() {
            let regEmail = new RegExp('^[0-9a-z._-]+@{1}[0-9a-z.-]{2,}[.]{1}[a-z]{2,5}$', 'i');
            let formValid = false;
            formValid = (this.form.login != '' && regEmail.test(this.form.email) && this.form.firstName != '' && this.form.lastName != '');
            formValid = (formValid && this.form.password1 === this.form.password2);
            formValid = (formValid && this.form.accessLevel!=null);
            console.log(regEmail.test(this.form.email))
            if (formValid === true) {
                this.formError = false
                jQuery('.modal-update-user').modal('hide')
       
                if (this.form.password1 != '') {
                    this.form.password = this.form.password1
                } else {
                    delete this.form.password
                }
                this.updateUser()
            } else {
                this.formError = true
            }
        },
        getGroup: function() {
            this.$http.get(process.env.API_URL + 'group').then(response => {
                this.groups = response.body;
                this.loading = false
                //this.$store.commit('setAlertFooter', '')
                return true;
            }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
        getUser: function() {
            this.loading = true
            this.$http.get(process.env.API_URL + 'user').then(response => {
                this.users = response.body;
                //this.loading = false
                //this.$store.commit('setAlertFooter', '')
                if (this.$store.getters.isAdmin) {
                  this.getGroup()
                }
                return true;
            }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
        formSetUser: function() {
            this.eraseForm();
        },
        setUser: function() {
            this.$http.post(process.env.API_URL + 'user', this.form).then(response => {
                this.eraseForm();
                //this.$store.commit('setAlertFooter', '')
                if (response.body = true) {
                    this.getUser();
                }
            }, response => {
              if (response.body = 'Forbidden (nb max Users)') {
                this.$store.commit('setAlertFooter',"Nombre maximum d'utilisateurs dépassé")
              } else {
                this.$store.commit('setAlertFooter','ConnectionError')
              }  
            });
        },
        formUpdateUser: function(user) {
            this.eraseForm()
            this.form.id = user.id
            this.form.login = user.login
            this.form.email = user.email
            this.form.firstName = user.firstName
            this.form.lastName = user.lastName
            this.form.right = user.right
            this.form.accessLevel = user.accessLevel
            this.form.idGroup = user.idGroup
            if  (this.$store.getters.isAdminOrGroupAdmin || (this.$store.getters.getAuth.username==user.email)){
              this.$http.get(process.env.API_URL + 'user/getVpn/' + this.form.id).then(response => {
                this.userVpns = response.body;
                
                //this.$store.commit('setAlertFooter', '')
              }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
              });
            }
            
        },
        updateUser: function(id) {
            this.$http.put(process.env.API_URL + 'user/' + this.form.id, this.form).then(response => {
                this.eraseForm();
                //this.$store.commit('setAlertFooter', '')
                if (response.body = true) {
                    this.getUser();
                }
            }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
        deleteUser: function(id) {
            if (!id) {
                this.$http.delete(process.env.API_URL + 'user/' + this.form.id).then(response => {
                    //this.$store.commit('setAlertFooter', '')
                    this.getUser()
                }, response => {
                    this.$store.commit('setAlertFooter', 'ConnectionError')
                })
            } else {
                this.form = appUtils.findObjInArray(this.users, id);
            }
        },
        eraseForm: function() {
            this.form = {
                login: '',
                email: '',
                firstName: '',
                lastName: '',
                password1: '',
                password2: '',
                password: '',
                email: '',
                id: '',
                right: '',
                idGroup: '',
                accessLevl: '',
            }
            this.userVpns = null
            this.formError = false
          
        },
        setUserVpn: function(id) {
            this.$http.post(process.env.API_URL + 'user/create/ConfFileCert/' + id, this.formUserVpn).then(response => {
                this.formUserVpn.name = null
                //this.$store.commit('setAlertFooter', '')
                if (response.body = true) {
                    this.$http.get(process.env.API_URL + 'user/getVpn/' + this.form.id).then(response => {
                        this.userVpns = response.body;
                        this.$store.commit('setAlertFooter', '')
                    }, response => {
                        this.$store.commit('setAlertFooter', 'ConnectionError')
                    });
                }
            }, response => {
               this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
        revoke: function(userVpn) {
            console.log(userVpn.commonName)
            this.$http.delete(process.env.API_URL + 'user/revoke/' + userVpn.commonName).then(response => {
                //this.$store.commit('setAlertFooter', '')
                if (response.body = true) {
                    this.$http.get(process.env.API_URL + 'user/getVpn/' + this.form.id).then(response => {
                        this.userVpns = response.body;
                        this.$store.commit('setAlertFooter', '')
                    }, response => {
                        this.$store.commit('setAlertFooter', 'ConnectionError')
                    });
                }
            }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
        getConfFile: function(commonName) {
            this.$http.post(process.env.API_URL + 'user/download/simpleConfFile/' + commonName).then(response => {
                let file = {}
                file.content = response.body
                file.name = commonName + ".ovpn"
                this.$store.dispatch('downloadFile', file)

                //this.$store.commit('setAlertFooter', '')

            }, response => {
                this.$store.commit('setAlertFooter', 'ConnectionError')
            });
        },
    },
    beforeRouteEnter(route, redirect, next) {
        next(vm => {
            vm.getUser();
        });
    }
}

</script>
