<template>
  <div id="app">
    <navBar v-if="$store.getters.getAuth.isAuthenticated"></navBar>
    <div id="loader"  v-show="$store.getters.getLoader==true">
        <div class ="loader">
          <img src="./assets/images/Loading.gif">
          <p>Chargement en cours...</p>
        </div>
    </div>
    <div id="main" v-show="$store.getters.getLoader==false">
        <router-view></router-view>
    </div>
    <div class="alert alert-danger alert-dismissible" v-if="$store.getters.getAlertFooter!=''" role="alert" style="position: absolute; z-index:  1000; bottom: 15px; right: 10px;">
      <button type="button" class="close" v-on:click="resetError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>ATTENTION! </strong>{{$store.getters.getAlertFooter}}.
    </div>
    
    <footerBar v-if="$store.getters.getAuth.isAuthenticated"></footerBar>
  </div>
</template>

<script>
import navBar from './navBar.vue'
import footerBar from './footerBar.vue'

export default {
  name: 'app',
  components: {
    navBar,
    footerBar
  },
  data() {
    return {
    }
  },
  methods: {
    resetError: function() {
      this.$store.commit('setAlertFooter','')
    }
  },
  mounted: function() {
        //jQuery('#main').css('height', (jQuery(window).height() - 120) + 'px')
        //jQuery(window).resize(function() {
        //    jQuery('#main').css('height', (jQuery(window).height() - 120) + 'px')
        //});
  }
}
</script>

<style>
#loader{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#loader .loader{
    margin: auto; /* eh oui, tout bêtement */
}

</style>
