<template>
<div id="footerBar">
	<span class="label label-success navbar-right" v-if="$store.getters.getServices.openVpn=='up'">Serveur VPN: OK</span>
	<span class="label label-default navbar-right" v-if="$store.getters.getServices.openVpn=='down'">Serveur VPN: STOP</span>
 	<!-- <span class="label label-success navbar-right" v-if="$store.getters.getServices.grafana=='up'">Grafana: OK</span> -->
 	<!-- <span class="label label-default navbar-right" v-if="$store.getters.getServices.grafana=='down'">Grafana: STOP</span> -->
 	<!-- <span class="label label-success navbar-right" v-if="$store.getters.getServices.nodeRed=='up'">Node-Red: OK</span> -->
 	<!-- <span class="label label-default navbar-right" v-if="$store.getters.getServices.nodeRed=='down'">Node-Red: STOP</span> -->
	<span class="label label-success navbar-right" v-if="$store.getters.getServices.SectorisationVpn=='up'">Sectorisation: OK</span>
	<span class="label label-default navbar-right" v-if="$store.getters.getServices.SectorisationVpn=='down'">Sectorisation: STOP</span>
</div>
</template>

<script>
export default {
	name: 'footerBar',
		data() {
			return {
			}
		}
}
</script>

<style>
	#footerBar .label {
		margin-bottom: 3px;
		margin-left: 3px;
		margin-right: 3px;
		margin-top: 3px;
	}
	#footerBar {
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 20px;
		padding-right: 20px;
}
</style>
