<template>
<nav class="navbar navbar-default" id="navBar">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th"></span> Menu</a>

        <ul class="dropdown-menu">
          <li v-for="element in menu">
              <a v-bind:href="element.webIhm" target="_blank" v-if="element.type=='equipment' && element.iframe==1"><span class="glyphicon glyphicon-scale"></span> {{element.name}}</a>
              <router-link :to="'/equipment/'+element.equipmentId" v-if="element.type=='equipment' && element.iframe==0"><span class="glyphicon glyphicon-scale"></span> {{element.name}}</router-link>
              <a v-bind:href="element.url" target="_blank" v-if="element.type=='url' && element.iframe==1"><span class="glyphicon glyphicon-link"></span> {{element.name}}</a>
              <router-link :to="'/url/'+element.id" v-if="element.type=='url' && element.iframe==0"><span class="glyphicon glyphicon-th-large"></span> {{element.name}}</router-link>
              <router-link :to="'/dashboards/'+element.id" v-if="element.type=='dashboard'"><span class="glyphicon glyphicon-stats"></span> {{element.name}}  <span class="label label-warning">Prototype</span></router-link>
              
          </li>
          <li><router-link :to="{name:'map'}"><span class="glyphicon glyphicon-globe"></span> Carte</router-link></li>
        </ul>

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">{{$store.getters.getServices.OpenVpnState}}
        <a href="#" class="dropdown-toggle navBar__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{$store.getters.getAuth.username}}</a>
        <ul class="dropdown-menu">
          <li><router-link :to="{name:'account'}"><span class="glyphicon glyphicon-user"></span> Mon Compte</router-link></li>
          <li v-on:click="logOut()"><a><span class="glyphicon glyphicon-off"></span> Deconnexion</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle navBar__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Paramètres</a>
        <ul class="dropdown-menu">
          <li><router-link :to="{name:'equipments'}"><span class="glyphicon glyphicon-scale"></span> Equipements</router-link></li>
          <li><router-link :to="{name:'users'}"><span class="glyphicon glyphicon-user"></span> Utilisateurs</router-link></li>
          <li v-if="$store.getters.isAdmin && $store.getters.getServices.nodeRed=='up'"><router-link :to="{name:'nodeRed'}"><span class="glyphicon glyphicon-retweet"></span> Node-Red</router-link></li>
          <li v-if="$store.getters.isAdmin && $store.getters.getServices.grafana=='up'"><router-link :to="{name:'grafana'}"><span class="glyphicon glyphicon-signal"></span> Grafana</router-link></li>
          <li v-if="$store.getters.isAdminOrGroupAdmin"><router-link :to="{name:'menuConf'}"><span class="glyphicon glyphicon-list-alt"></span> Menu & Dashboards</router-link></li>
          <li v-if="$store.getters.isAdmin"><router-link :to="{name:'systemeSupport'}"><span class="glyphicon glyphicon-wrench"></span> Système</router-link></li>
        </ul>
      </li>
      <li><a href="#" class="navBar__link" role="button" aria-haspopup="true" aria-expanded="false" v-on:click="toggleFullScreen()"><span class="glyphicon glyphicon-resize-full" v-if="stateFullScreen == false"></span><span class="glyphicon glyphicon-resize-small" v-if="stateFullScreen == true"></span></a></li>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
    name: 'navBar',
    data() {
      return {
        actualDashboard:null,
        menu:null,
        interval:null,
        stateFullScreen: false
      }
    },
    created: function () {
        this.startAutoRefresh()
    },
    methods: {
      getMenu: function() {
//         if (this.$store.getters.isAdmin) {
//           if (this.$store.getters.getServices.grafana=='up') {
//             this.grafanaBp=true
//           } else {
//             this.grafanaBp=false
//           }
//           if (this.$store.getters.getServices.nodeRed=='up') {
//             this.nodRedBp=true
//           } else {
//             this.nodRedBp=false
//           }
//         } else {
//           this.nodRedBp=false
//           this.grafanaBp=false
//         }
        this.$http.get(process.env.API_URL + 'dashboard/menu').then(response => {
          this.menu = response.body
          //this.$store.commit('setAlertFooter', '')
        }, response => {
          this.$store.commit('setAlertFooter', 'ConnectionError')
        });
      },
      getAccesLevel: function () {
        this.$http.get(process.env.API_URL + 'account/')
          .then(response => {
            let payload ={}
            payload.accessLevel = response.body.accessLevel          
            this.$store.dispatch('setAccessLevel',payload)            
          })
      },
      getServicesState:function(){
        this.$http.get(process.env.API_URL + 'services/servicesStates').then(response => {
          this.$store.commit('setServiceState',response.body)
          //this.$store.commit('setAlertFooter','')
        }, response => {
          this.$store.commit('setAlertFooter','ConnectionError')
        });
      },
      logOut: function() {
        this.stopAutoRefresh()
        this.$store.dispatch('destroyToken')
        this.$router.push('login')
      },
      toggleFullScreen: function() {
        var write = false;
        var docElm = document.documentElement;

        if (docElm.requestFullscreen && !this.stateFullScreen && !write) {
          docElm.requestFullscreen();
          this.stateFullScreen = true;
          write = true;
        } else if (docElm.mozRequestFullScreen && !this.stateFullScreen && !write) {
          docElm.mozRequestFullScreen();
          this.stateFullScreen = true;
          write = true;
        } else if (docElm.webkitRequestFullScreen && !this.stateFullScreen && !write) {
          docElm.webkitRequestFullScreen();
          this.stateFullScreen = true;
          write = true;
        }

        if (document.exitFullscreen && this.stateFullScreen && !write) {
          document.exitFullscreen();
          this.stateFullScreen = false;
          write = true;
        } else if (document.mozCancelFullScreen && this.stateFullScreen && !write) {
          document.mozCancelFullScreen();
          this.stateFullScreen = false;
          write = true;
        } else if (document.webkitCancelFullScreen && this.stateFullScreen && !write) {
          document.webkitCancelFullScreen();
          this.stateFullScreen = false;
          write = true;
        }

      },
      stopAutoRefresh: function(){
            clearInterval(this.interval)
      },
      startAutoRefresh: function(){
            this.getMenu()
            this.getServicesState();
            this.getAccesLevel();
            this.interval=setInterval(this.autoRefresh, 5000);
        },
      autoRefresh: function(){
            this.getMenu()
            this.getServicesState();
            this.getAccesLevel(); 
      },
    },
  }
</script>

<style>
</style>
