<template>
  <div id="aPropos">
    <h2> SINASS V1.0 </h2>
    <h4>Fonctionalités:</h4>
    <ul>
      <li> Serveur Open-VPN </li>
      <li> Carte des équipements </li>
      <li> Gestion d'utilisateurs et de groupes </li>
      <li> Node-Red 0.17</li>
      <li> Grafana 5.0.0</li>
    </ul>
    
    <h4>Editeur:</h4>
    <p>Le service SINASS est développé et maintenu par la société IDSU</br></br>
      IDSU</br>
      Automatisme & Domotique</br>
      7 Rue des Papalines</br>
      84000 AVIGNON</br>
    </p>

    
    
  </div>
</template>

<script>
  export default {
    name: 'aPropos',
    data () {
      return {
        //
      }  
    }
}
</script>

<style>

</style>
