<template>
	<div id="systemeFirewall">
		<div class="row">
			<div class="col-sm-5">
				<vue-form-generator :schema="schemaFormFirewall" :model="modelFormFirewall" :options="formOptions" @validated="onValidatedFirewall"></vue-form-generator>
				<button type="submit" class="btn btn-primary" v-on:click="setFirewall()">Appliquer</button>
			</div>
			<div class="col-sm-7"></div>
		</div>
			
	</div>	
</template>

<script>
import VueFormGenerator from "vue-form-generator";

export default {
	name: 'systemeServices',
	components: {

	},
	data() {
		return {
			loading: false,
			modelFormFirewall: {
				nodeRed_1880:false,
				grafana_3000:false,
				ftps_21:false,
				openVpn_1194_TCP:false,
				openVpn_1194_UDP:false,
			},
			schemaFormFirewall: {
				fields: [
					{
						type: "checkbox",
						label: "Serveur Node-Red (port 1880)",
						model: "nodeRed_1880",
					},
					{
						type: "checkbox",
						label: "Serveur Grafana (port 3000)",
						model: "grafana_3000",
					},
					{
						type: "checkbox",
						label: "FTPS (port 21)",
						model: "ftps_21",
					},
					{
						type: "checkbox",
						label: "OpenVPN (TCP port 1194)",
						model: "openVpn_1194_TCP",
					},
					{
						type: "checkbox",
						label: "OpenVPN (UDP port 1194)",
						model: "openVpn_1194_UDP",
					},
				]
			},
			formOptions: {
				validateAfterLoad: false,
				validateAfterChanged: true,
				fieldIdPrefix: 'user-'
			}
		}
	},
	methods: {
		init: function() {
			this.getFirewall()
		},
		setFirewall: function() {
			this.$http.put(process.env.API_URL + 'firewall', this.modelFormFirewall).then(response => {
					this.$store.commit('setAlertFooter', '')
			}, response => {
					this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
		getFirewall: function() {
			this.$store.commit('setLoader', true)
			this.$http.get(process.env.API_URL + 'firewall').then(response => {
				this.modelFormFirewall = response.body
				this.$store.commit('setLoader', false)
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setLoader', false)
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
	
	},
	beforeRouteEnter(route, redirect, next) {
		next(vm => {
			vm.init();
		});
	},
	beforeRouteLeave(to, from, next) {
		
		next(vm => {
		
		})
	}

}
</script>

<style>
	.form-group {
		margin-left:10px
	}
	.form-group.field-checkbox {
    display: flex;
		justify-content:space-between;
    flex-wrap: wrap;
	}  
	.form-group.field-checkbox>div>input{
		margin-left:10px;
	}
</style>