<template>
	<div id="systemeServices">
		<div class="row">
			<label class="col-sm-2 control-label">Open-VPN: </label>
			<div class="col-sm-1">
				<span class="label label-success" v-if="services.OpenVpnState=='up'">En Marche</span>
				<span class="label label-default" v-if="services.OpenVpnState=='down'">Arrêté</span>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-default" type="submit" v-if="services.OpenVpnState=='up'" v-on:click="stopService('openVpn')">Arreter</button>
				<button class="btn btn-default" type="submit" v-if="services.OpenVpnState=='down'" v-on:click="startService('openVpn')">Démarrer</button>
			</div>
			<div class="col-sm-1">
				<router-link to="/systemeVpnInit" type="button" class="btn btn-default">Initialiser configuration</router-link>
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-2">

			</div>
		</div>
		<div class="row" v-if="services.NodeRedState!='Forbidden'">
			<label class="col-sm-2 control-label">Node-Red: </label>
			<div class="col-sm-1">
				<span class="label label-success" v-if="services.NodeRedState=='up'">En Marche</span>
				<span class="label label-default" v-if="services.NodeRedState=='down'">Arrêté</span>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-default" type="submit" v-if="services.NodeRedState=='up'" v-on:click="stopService('nodeRed')">Arreter</button>
				<button class="btn btn-default" type="submit" v-if="services.NodeRedState=='down'" v-on:click="startService('nodeRed')">Démarrer</button>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-default" type="submit" data-toggle="modal" data-target=".modal-set-NodeRed-Passwd">Identifiants utilisateur</button>
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-2">

			</div>
		</div>
		<div class="row" v-if="services.GrafanaState!='Forbidden'">
			<label class="col-sm-2 control-label">Grafana: </label>
			<div class="col-sm-1">
				<span class="label label-success" v-if="services.GrafanaState=='up'">En Marche</span>
				<span class="label label-default" v-if="services.GrafanaState=='down'">Arrêté</span>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-default" type="submit" v-if="services.GrafanaState=='up'" v-on:click="stopService('grafana')">Arreter</button>
				<button class="btn btn-default" type="submit" v-if="services.GrafanaState=='down'" v-on:click="startService('grafana')">Démarrer</button>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-2">

			</div>
		</div>
		<div class="row">
			<label class="col-sm-2 control-label">Sectorisation Open-VPN: </label>
			<div class="col-sm-1">
				<span class="label label-success" v-if="services.SectorisationVpnState=='up'">En Marche</span>
				<span class="label label-default" v-if="services.SectorisationVpnState=='down'">Arrêté</span>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-default" type="submit" v-if="services.SectorisationVpnState=='up'" v-on:click="stopService('SectorisationVpn')">Arreter</button>
				<button class="btn btn-default" type="submit" v-if="services.SectorisationVpnState=='down'" v-on:click="startService('SectorisationVpn')">Démarrer</button>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-2">

			</div>
		</div>
<div class="row">
	<div class="modal fade modal-set-NodeRed-Passwd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="eraseForm()"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Indentifiants Node-Red</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning col-sm-12" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
					<vue-form-generator :schema="schema" :model="modelFormPasswdNR" :options="formOptions" @validated="onValidatedPaswdNR"></vue-form-generator>
					<button type="submit" class="btn btn-primary" v-on:click="updateNodeRedPassword()">Valider</button>	
				</div>
			</div>	
		</div>
	</div>
</div>
	
</template>

<script>
//import sinTextInput from '../../packages/sinui/sinTextInput.vue'
//import validators from "vue-form-generator";
import VueFormGenerator from "vue-form-generator";

//Vue.use(VueFormGenerator);
export default {
	name: 'systemeServices',
	components: {

	},
	data() {
		return {
			logs: [],
			loading: false,
			interval: null,
			services: {
				OpenVpnState: '',
				NodeRedState: '',
				GrafanaState: '',
				SectorisationVpnState: ''
			},
			form: {
				ip: '',
				networkMask: '',
				country: '',
				province: '',
				city: '',
				mail: ''
			},
// 			formPasswdNR: {
// 				isValid:false,
// 			},
			modelFormPasswdNR: {
				password1: '',
				password2: '',
				isValid:false
			},
			schema: {
				fields: [
					{
						type: "input",
						inputType: "password",
						label: "Mot de passe",
						model: "password1",
						required: true,
						min: 6,
						hint: "6 caractères minimum",
						validator: VueFormGenerator.validators.string
					},
					{
						type: "input",
						inputType: "Password",
						label: "Confirmer mot de passe",
						model: "password2",
						min: 6,
						required: true,
						validator: [VueFormGenerator.validators.string,
							(value, field, model) => {
								let pass = model.password1;
								let confPass = value;
								if (pass != confPass) {
									return [",Les mots de passe saisis sont différents"];
								} else {
									return [];
								}
							}
						]
					},
				]
			},
			formOptions: {
				validateAfterLoad: false,
				validateAfterChanged: true,
				fieldIdPrefix: 'user-'
			}
		}

	},
	methods: {
		onValidatedPaswdNR: function(isValid, errors) {
			this.modelFormPasswdNR.isValid=isValid
		},
		formValidUpdateUserNodeRed: function() {
			let formValid = false;
			formValid = (this.form.login != '' && regEmail.test(this.form.email) && this.form.firstName != '' && this.form.lastName != '');
			formValid = (formValid && this.form.password1 === this.form.password2);
			formValid = (formValid && this.form.accessLevel != null);
			//console.log(regEmail.test(this.form.email))
			if (formValid === true) {
				this.formError = false
				jQuery('.modal-update-user').modal('hide')

				if (this.form.password1 != '') {
					this.form.password = this.form.password1
				} else {
					delete this.form.password
				}
				this.updateUser()
			} else {
				this.formError = true
			}
		},
		updateNodeRedPassword: function() {
			if (this.modelFormPasswdNR.isValid===true){
				this.$http.put(process.env.API_URL + 'services/updatePasswdNR', this.modelFormPasswdNR).then(response => {
					this.$store.commit('setAlertFooter', '')
				}, response => {
					this.$store.commit('setAlertFooter', 'ConnectionError')
			});
			} else {
				
			}
		},
		startService: function(app) {

			this.$http.post(process.env.API_URL + 'services/startService', {
				service: app
			}).then(response => {
				this.services.OpenVpnState = response.body.openVpn
				this.services.GrafanaState = response.body.grafana
				this.services.NodeRedState = response.body.nodeRed
				this.services.SectorisationVpnState = response.body.SectorisationVpn
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
		stopService: function(app) {
			this.$http.post(process.env.API_URL + 'services/stopService', {
				service: app
			}).then(response => {
				this.services.OpenVpnState = response.body.openVpn
				this.services.GrafanaState = response.body.grafana
				this.services.NodeRedState = response.body.nodeRed
				this.services.SectorisationVpnState = response.body.SectorisationVpn
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
		startServer: function() {
			this.$http.post(process.env.API_URL + 'vpn/startServer').then(response => {
				this.serverState = response.body
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
		stopServer: function() {
			this.$http.post(process.env.API_URL + 'vpn/stopServer').then(response => {
				this.serverState = response.body
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
		setNodeRedPasswd: function() {
			console.log(appUtils.inputConfirmation(this.model.password1, this.model.password2))
			//console.log(this.model.password1)
			//if (this.model.password1===this.model.password2){
			//	console.log('Hello juju')
			//}
		},
		stopAutoRefresh: function() {
			clearInterval(this.interval)
		},
		autoRefresh: function() {
			//this.getLogs()
			this.$store.commit('setLoader', true)
			this.getServicesState()
			//this.interval=setInterval(this.getLogs, 15000);
		},
		getServicesState: function() {
			// 					this.services.OpenVpnState=this.$store.getters.getServices.openVpn
			// 					this.services.GrafanaState=this.$store.getters.getServices.grafana
			// 					this.services.NodeRedState=this.$store.getters.getServices.nodeRed
			// 					this.services.SectorisationVpnState=this.$store.getters.getServices.SectorisationVpn

			this.$http.get(process.env.API_URL + 'services/servicesStates').then(response => {
				this.$store.commit('setServiceState', response.body)
				this.services.OpenVpnState = response.body.openVpn
				this.services.GrafanaState = response.body.grafana
				this.services.NodeRedState = response.body.nodeRed
				this.services.SectorisationVpnState = response.body.SectorisationVpn
				this.$store.commit('setLoader', false)
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		},
		getLogs: function() {
			this.$http.get(process.env.API_URL + 'vpn/logs').then(response => {
				this.logs = []
				for (var i = 0; i < response.body.length; i++) {
					this.logs.push(response.body[i])
					this.$nextTick(() => {
						jQuery("#logsVpn").scrollTop(jQuery("#logsVpn").prop('scrollHeight'))
					})
				}
				this.$store.commit('setAlertFooter', '')
			}, response => {
				this.$store.commit('setAlertFooter', 'ConnectionError')
			});
		}
	},
	beforeRouteEnter(route, redirect, next) {
		next(vm => {
			//vm.init();
			vm.autoRefresh();
		});
	},
	beforeRouteLeave(to, from, next) {
		this.stopAutoRefresh()
		next(vm => {
			// access to component instance via `vm`
		})
	}

}
</script>

<style>
.icone-app{
	max-height:50px;
}
</style>
