<template>
		<div id="systemeSupport">
			 <ul class="list-group">
          <li class="list-group-item"><h4>Client OpenVpn Microsoft Windows:</h4> <a href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.4-I601.exe">openvpn-install-2.4.4-I601.exe</a></li>
					<li class="list-group-item"><h4>Client OpenVpn macOS:</h4> <a href="https://tunnelblick.net/release/Tunnelblick_3.7.4b_build_4921.dmg">Tunnelblick 3.7.4b</a></li>
          <li class="list-group-item"><h4>Client OpenVpn Androïd:</h4> <a href="https://play.google.com/store/apps/details?id=net.openvpn.openvpn&hl=fr">OpenVPN Connect</a></li>
					<li class="list-group-item"><h4>Client OpenVpn iOS:</h4> <a href="https://itunes.apple.com/fr/app/openvpn-connect/id590379981?mt=8">OpenVPN Connect</a></li>
       </ul>
	  </div>
</template>

<script>

export default {
    name: 'systemeSupportn',
        data () {
            return {
                
            }
	},
    methods: {
        
        
    },
    

}
</script>

<style>

</style>
