<template>
	<div class="panel panel-default" id="systeme">
		<div class="panel-heading">
			<h3 class="panel-title">Paramètres Système</h3>
		</div>
		<div class="panel-body Sinass-panel-body-column">
            <div class="Sinass-menu-left">
                <ul class="list-group">
										<li class="list-group-item"><router-link to="/systemeServices">Services</router-link></li>
										<li class="list-group-item"><router-link to="/systemeFirewall">Pare-Feu</router-link></li>
										<li class="list-group-item"><router-link to="/systemeSupport">Support</router-link></li>
										<li class="list-group-item"><router-link to="/systemeAPropos">A propos</router-link></li>     
                </ul>
            </div>
            <div class="Sinass-view-right">
                <router-view></router-view>
            </div>
		</div>
	</div>
</template>

<script>
  
export default {
    name: 'systeme',
        data () {
            return {
			
            }
	},
        beforeRouteEnter(route, redirect, next) {
            next(vm => {
                //vm.$parent.$router.push('usersUsers')
            });
        }
  
}
</script>

<style>
	.Sinass-menu-left {
		flex:1;
	}
	.Sinass-view-right {
		flex:5;
	}
</style>
