<template>
	<div id="systemeVpnInit">
        <div class="alert alert-warning" role="alert" v-show="formError">Erreur dans la saisie du formulaire</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-1"></div>
                <h4 class="col-sm-6">Serveur:</h4>
                <div class="col-sm-2"></div>
            </div>    
            <div class="form-group">
                <label class="col-sm-3 control-label">Adresse IP</label>
                <div class="col-sm-6">
                    <input class="form-control" v-model="form.ip">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Masque de sous Reseau:</label>
                <div class="col-sm-6">
                    <input class="form-control" v-model="form.networkMask">
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class = "col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="form.clientToClient"> Autoriser les connexions entre clients
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1"></div>
                <h4 class="col-sm-6">Certificat:</h4>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Pays</label>
                    <div class="col-sm-6">
                        <input class="form-control" v-model="form.country" placeholder="Abréviation en deux lettres (ex: FR pour France)">
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Région</label>
                <div class="col-sm-6">
                    <input class="form-control" v-model="form.province" placeholder="Caractères alphanumériques et tirêts mais sans accents ni espaces">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ville</label>
                <div class="col-sm-6">
                    <input class="form-control" v-model="form.city" placeholder="Caractères alphanumériques et tirêts mais sans accents ni espaces">
                </div>
            </div>
						<div class="form-group">
                <label class="col-sm-3 control-label">Organisation</label>
                <div class="col-sm-6">
                    <input class="form-control" v-model="form.org" placeholder="Caractères alphanumériques et tirêts mais sans accents ni espaces">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" v-model="form.mail">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8"></div>
                <div class="col-sm-1">
                     <button v-on:click="formValidSetOvpnServer()" class="btn btn-primary " data-target=".modal-set-plc" type="button">Initialiser</button >
                </div>
            </div>
        </form>
        <div class="modal fade modal-init-Ovpn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="eraseForm()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Initialisation du serveur Open-VPN</h4>
                        </div>
                        <div class="modal-body">
                            <p>Etes vous sur de vouloir unitialiser le serveur Open-VPN</p>
                            </br>
                            <p>Tous les certificats (utilisateurs et équipements) seront supprimés!</p>
                            <form class = "form-horizontal">
                                <div class = "form-group">
                                    <div class = "col-sm-9" ></div>
                                    <div class="col-sm-3">
                                        <button v-on:click="SetOvpnServer(form.id)" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                                        <button class = "btn btn-default" data-dismiss = "modal">Annuler</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
	</div>        
</template>

<script>
  
export default {
    name: 'systemeVpn',
        data () {
            return {
                formError:false,
                loading:true,
                formValid:null,
                form: {
                    ip:'',
                    networkMask:'',
                    clientToClient:false,
                    country:'',
                    province:'',
                    city:'',
										org:'',
                    mail:''
                }
            }
	},
    methods: {
        getOvpnConf:function(){
            this.$store.commit('setLoader',true)
            this.$http.get(process.env.API_URL + 'vpn/OvpnConf').then(response => {
								if (response.body.clientToClient=='true'){
									response.body.clientToClient=true
								} else {
									response.body.clientToClient=false
								}
                this.form=response.body
                this.$store.commit('setLoader',false)
                this.$store.commit('setAlertFooter','')
            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        },
        formValidSetOvpnServer:function(){
            let regIp = new RegExp('^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$')
            let regMask = new RegExp('^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$')
            let regCountry = new RegExp('[a-zA-Z]{2}')
            let regProvince = new RegExp('^[a-zA-Z0-9\-]+$')
            let regCity = new RegExp('^[a-zA-Z0-9\-]+$')
						let regOrg = new RegExp('^[a-zA-Z0-9\-]+$')
            let regEmail = new RegExp('^[0-9a-z._-]+@{1}[0-9a-z.-]{2,}[.]{1}[a-z]{2,5}$','i')

            let ipValid = regIp.test(this.form.ip)
            let maskValid = regMask.test(this.form.networkMask)
            let countryValid = regCountry.test(this.form.country)
            let provinceValid = regProvince.test(this.form.province)
            let cityValid = regCity.test(this.form.city)
						let orgValid = regOrg.test(this.form.org)
            let emailValid = regEmail.test(this.form.mail)


            this.formValid = (ipValid && maskValid && countryValid && provinceValid && cityValid && orgValid && emailValid)

            if (this.formValid===true) {
                this.formError=false
                jQuery('.modal-init-Ovpn').modal('show')
            } else {
                this.formError=true
            }
        },
        SetOvpnServer:function(id){
						if (this.form.clientToClient==true){
							this.form.clientToClient='true'
						} else {
							this.form.clientToClient='false'
						}
            delete this.form.id
            delete this.form.created_at
            delete this.form.updated_at
            console.log(this.form)
            this.$store.commit('setLoader',true)
            this.$http.put(process.env.API_URL + 'vpn/OvpnConf/' + id, this.form).then(response => {
                this.getOvpnConf()
                this.$store.commit('setLoader',false)
                this.$store.commit('setAlertFooter','')
            }, response => {
                this.$store.commit('setAlertFooter','ConnectionError')
            });
        }
    },
        beforeRouteEnter(route, redirect, next) {
            next(vm => {
                vm.getOvpnConf();
            });
        }
  
}
</script>

<style>
#systemeVpn{
    height: 100%;
}
#systemeVpn .row{
    height: 6%;
}
#logsPanel{
    height:86%;
    margin-bottom: 0.5%;
	margin-top: 1.5%;
    margin-right: 5px;
    margin-left: 5px;
}
#logsPanel .panel-heading {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
}
#logsPanel .panel-body {
  overflow-y: scroll;
  margin: 0;
  list-style: none;
  background: #141414;
  color: white;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
</style>
